/*--MEDIA QUERIES---------------------------------------*/
@media screen and (min-width: 1600px) {
  .container {
    width: 1600px;
  }
}
@media screen and (min-width: 1201px) and (max-width: 1599px) {
  .container {
    width: 1200px;
  }

  .left-aside,
  .right-aside {
    width: 250px;
  }

  .content-b {
    width: 610px;
  }

  .catalog-filter-form .field {
    flex-basis: 22.5%;
  }

  .header-b a {
    margin-right: 12px;
  }

  .adv-help,
  .adv-footer .adv-payment {
    right: 60px;
  }

  .adv-item:after {
    right: -30px;
  }
}
@media screen and (max-width: 1200px) {
  .navbar-toggle {
    display: block;
  }

  .container {
    width: 100%;
  }

  .main-menu .container {
    width: 100%;
    padding: 0;
  }
  .main-menu .navbar-nav.nav {
    display: block;
    padding-top: 40px;
    text-align: left;
  }
  .main-menu .navbar-nav.nav .nav-item {
    display: block;
    float: none;
  }
  .main-menu .navbar-nav.nav .nav-item.active a {
    color: #1399bd;
    background-color: #f0f0f0;
    border: none;
  }
  .main-menu .navbar-nav.nav .nav-item.active a:after {
    display: none;
  }
  .main-menu .navbar-nav.nav .nav-item input[type="checkbox"] + .dropdown-menu {
    display: none;
  }
  .main-menu .navbar-nav.nav .nav-item input[type="checkbox"]:checked + .dropdown-menu {
    display: block;
  }
  .main-menu .navbar-nav.nav a {
    float: none;
    margin: 0;
    padding: 18px 12px;
    color: #fff;
    font-size: 87%;
    font-weight: 500;
    border-bottom: 1px solid #128bac;
    white-space: pre-line;
  }
  .main-menu .navbar-nav.nav a:after {
    display: none;
  }
  .main-menu .navbar-nav.nav a:hover, .main-menu .navbar-nav.nav a:active, .main-menu .navbar-nav.nav a:focus {
    color: #1399bd !important;
    background-color: #f0f0f0;
    border-color: transparent;
  }
  .main-menu .navbar-nav.nav a:hover:after, .main-menu .navbar-nav.nav a:active:after, .main-menu .navbar-nav.nav a:focus:after {
    display: none;
  }
  .main-menu .navbar-nav.nav .nav-item.dropdown > a {
    padding: 18px 42px 18px 12px;
  }
  .main-menu .navbar-nav.nav .caret {
    display: none;
  }
  .main-menu .navbar-nav.nav .drop-icon {
    display: block;
  }
  .main-menu .navbar-nav.nav .dropdown-menu {
    position: static;
    float: none;
    background: #fff;
    padding: 0;
    box-shadow: none;
  }
  .main-menu .navbar-nav.nav .dropdown-menu a {
    font-size: 94%;
    font-weight: normal;
    border-bottom: none;
    color: #444;
    text-transform: none;
  }
  .main-menu.collapse {
    display: block !important;
  }

  .navbar-collapse.collapse {
    height: 100% !important;
  }

  /* General styles for all menus */
  .cbp-spmenu {
    background: #1399bd;
    position: fixed;
    padding: 35px 0;
    margin: 0 !important;
    overflow-x: hidden;
    overflow-y: visible;
    display: block;
  }

  .cbp-spmenu h3 {
    color: #fff;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6;
  }

  .cbp-spmenu a {
    display: block;
  }

  /* Orientation-dependent styles for the content of the menu */
  .cbp-spmenu-vertical {
    width: 305px;
    height: 100% !important;
    top: 0;
    z-index: -1;
  }

  .cbp-spmenu-horizontal {
    width: 100%;
    height: 150px;
    left: 0;
    z-index: 1000;
    overflow: hidden;
  }

  .cbp-spmenu-horizontal h3 {
    height: 100%;
    width: 20%;
    float: left;
  }

  .cbp-spmenu-horizontal a {
    float: left;
    width: 20%;
    padding: 0.8em;
    border-left: 1px solid #258ecd;
  }

  /* Vertical menu that slides from the left or right */
  .cbp-spmenu-left {
    left: -305px;
  }

  .cbp-spmenu-right {
    right: -305px;
  }

  .cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
  }

  .cbp-spmenu-right.cbp-spmenu-open {
    right: 0px;
  }

  /* Horizontal menu that slides from the top or bottom */
  .cbp-spmenu-top {
    top: -100%;
    left: 0;
  }

  .cbp-spmenu-bottom {
    bottom: -150px;
  }

  .cbp-spmenu-top.cbp-spmenu-open {
    top: 0px;
  }

  .cbp-spmenu-bottom.cbp-spmenu-open {
    bottom: 0px;
  }

  /* custom */
  .cbp-spmenu-push-toright .cbp-spmenu-top {
    top: 0px;
    left: 0;
  }

  /* Push classes applied to the body */
  .cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
  }

  /* Transitions */
  .cbp-spmenu,
  .cbp-spmenu-push {
    -webkit-transition: all .8s ease;
    -moz-transition: all .8s ease;
    transition: all .8s ease;
  }

  .cbp-spmenu-push-toright:before {
    z-index: 9;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  /*--END Menu------------------------------*/
  .promo-slider {
    height: 550px;
  }

  .slider-item {
    height: 550px;
  }
  .slider-item .slider-bg {
    background-size: 600px;
    background-position: center 15%;
  }
  .slider-item .slider-info {
    width: 600px;
    padding-top: 120px;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .slider-nav {
    top: initial;
    bottom: 60px;
    left: 50%;
    width: 380px;
    margin-left: -160px;
  }

  .catalog-item {
    width: 100%;
    height: 100px;
    border-right: none;
  }
  .catalog-item + .catalog-item {
    border-top: 3px solid transparent;
  }

  .catalog-item-logo {
    top: 50%;
    display: inline-block;
    max-height: 60px;
    width: auto;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .catalog-item-bottom {
    position: static;
    margin: -12px 0 0 0;
    -webkit-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
  }

  .catalog-filter-form {
    padding-top: 80px;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  .catalog-filter-form .search-btn {
    width: calc(100% - 30px);
    margin-top: -15px;
    margin-bottom: 50px;
  }

  .catalog-filter-form .field {
    flex-basis: 48%;
    margin-bottom: 50px;
  }

  .left-aside,
  .right-aside,
  .content-b {
    width: 100%;
  }

  .content-b {
    margin: 0;
  }

  .aside-product-list .product-item {
    display: inline-block;
    width: 240px;
    margin-right: 25px;
  }
  .aside-product-list .product-item:last-child {
    margin-right: 0;
  }
  .aside-product-list .product-item .product-img {
    height: 260px;
  }
  .aside-product-list .product-item .product-info {
    height: 130px;
  }

  .product-item:hover .cart-btn {
    bottom: 15px;
  }
}
@media screen and (max-width: 990px) {
  .copyright {
    text-align: center;
  }
  .copyright .pull-right {
    float: none !important;
  }
  .copyright .dev-logo {
    display: inline-block;
    margin-top: 10px;
  }

  .copyright-text {
    padding-top: 10px;
  }
}
@media screen and (max-width: 767px) {
  .f-brand {
    float: none !important;
    margin-top: 35px;
  }
}
@media screen and (max-width: 680px) {
  .f-col {
    flex-basis: 100%;
  }
}
