$pr: 'MuseoSansRegular';
$pr_italic: 'MuseoSansItalic';
$pr_light: 'MuseoSansLight';
$pr_bold: 'MuseoSansBold'; 
$pr_medium: 'MuseoSansMedium';

/*--MEDIA QUERIES---------------------------------------*/

@media screen and (min-width: 768px) {
	.container { width: 100%; }
}

@media screen and (min-width: 992px) {
	.container { width: 100%; }
}

@media screen and (min-width: 1600px) {
	.container { width: 1580px; }
}

@media screen and (max-width: 1400px) {
	.header .btn-callback { display: none; }

	.product-tab .nav-tab li { font-size: 120%; }
}

@media screen and (min-width: 1200px) and (max-width: 1599px) {
	.promo-slider,
	.promo-slider .slider-item { height: 500px; }

	.navbar-nav .nav-item a { font-size: 130%; }

	.left-aside,
	.right-aside,
	.content-b { float: left; }

	.left-aside,
	.right-aside { width: 24%; }

	.content-b { width: 52%; }

	.catalog-filter-form .field { flex-basis: 22.5%; }

	.header-b a { margin-right: 12px; }

	.adv-help,
	.adv-footer .adv-payment { right: 60px; }

	.adv-item:after { right: -30px; }

	.contact-b { left: 40%; }

	.advantage-b-wrap { background-size: 100%; }

	.adv-item:after,
	.adv-footer .adv-item:after { right: 0; }

	.product {
		.btn-group .btn { margin-right: 5px; }
	}
}

@media screen and (max-width: 1199px) {
	.navbar-toggle { display: block; }

	.login-b,
	.mail-link { display: none; }

	.header-b {
		.contact-b { left: 220px; }
		.cart-b {
			z-index: 8;
			top: 90px;
			right: initial;
			left: 220px;
		}
	}

	.brand-logo { padding: 15px 20px 0 15px; }

	.main-menu {
		box-shadow: 3px 0 10px rgba(40,40,40,.2);
		.container { 
			width: 100%;
			padding: 0; 
		}
		.navbar-nav.nav {
			display: block;
			text-align: left;
			.nav-item,
			.login-item { 
				display: block; 
				float: none;
				&.active a { 
					color: #1399bd; 
					background-color: #f0f0f0;
					border: none;
					&:after { display: none; }
				}
				input[type="checkbox"] + .dropdown-menu { display: none; }
				input[type="checkbox"]:checked + .dropdown-menu { display: block; }
			}
			a { 
				float: none;
				margin: 0;
				padding: 15px 12px;
				color: #333;
				font-family: $pr_medium;
				font-size: 87%;
				border-bottom: 1px solid #ebebeb;
				white-space: pre-line;
				&:after { display: none; }
				&:hover,
				&:active,
				&:focus { 
					color: #fff; 
					background-color: #00c1f0;
					border-color: transparent;
					&:after { display: none; }
					svg { fill: #fff; }
				}
			}
			.login-item { display: block; }
			.nav-item.dropdown > a { padding: 18px 42px 18px 12px; }
			.caret { display: none; }
			.drop-icon { display: block; }
			.dropdown-menu {
				position: static;
				float: none;
				background: #fff;
				padding: 0;
				box-shadow: none;
				a { 
					font-size: 94%;
					font-weight: normal;
					border-bottom: none;
					color: #444;
					text-transform: none;
				}
			}
		}
		&.collapse { display: block !important; }
	}

	.navbar-collapse.collapse { height: 100% !important; }

	/* General styles for all menus */
  	.cbp-spmenu {
		background: #fff;
		position: fixed;
		padding: 35px 0;
		margin:0 !important;
		overflow-x:hidden;
		overflow-y:visible;
		display:block;
  	}
	.cbp-spmenu h3 {
		color: #fff;
		font-size: 1.9em;
		padding: 20px;
		margin: 0;
		font-weight: 300;
		background: #0d77b6;
	}
	.cbp-spmenu a { display: block; }
	
	/* Orientation-dependent styles for the content of the menu */
	.cbp-spmenu-vertical {
		z-index: 1000;
		width: 305px;
		height: 100% !important;
		top: 0;
	}

	.cbp-spmenu-horizontal {
		width: 100%;
		height: 150px;
		left: 0;
		z-index: 1000;
		overflow: hidden;
	}

	.cbp-spmenu-horizontal h3 {
		height: 100%;
		width: 20%;
		float: left;
	}

	.cbp-spmenu-horizontal a {
		float: left;
		width: 20%;
		padding: 0.8em;
		border-left: 1px solid #258ecd;
	}

	/* Vertical menu that slides from the left or right */
	.cbp-spmenu-left { left: -305px; }
	.cbp-spmenu-right { right: -305px; }
	.cbp-spmenu-left.cbp-spmenu-open { left: 0px; }
	.cbp-spmenu-right.cbp-spmenu-open { right: 0px; }

	/* Horizontal menu that slides from the top or bottom */
	.cbp-spmenu-top { top: -100%; left: 0; }
	.cbp-spmenu-bottom { bottom: -150px; }
	.cbp-spmenu-top.cbp-spmenu-open { top: 0px; }
	.cbp-spmenu-bottom.cbp-spmenu-open { bottom: 0px; }
	/* custom */
	.cbp-spmenu-push-toright .cbp-spmenu-top { top: 0px; left: 0; }

	/* Push classes applied to the body */
	.cbp-spmenu-push {
		overflow-x: hidden;
		position: relative;
		left: 0;
	}

	/* Transitions */
	.cbp-spmenu,
	.cbp-spmenu-push {
		-webkit-transition: all .8s ease;
		-moz-transition: all .8s ease;
		transition: all .8s ease;
	}

/*--END Menu------------------------------*/

	.promo-slider { height: 550px; }
	
	.slider-item {
		height: 550px;
		.slider-bg {
			max-height: 265px;
			width: auto;
			margin: 0 auto;
		}
		.slider-info { padding: 10px 1em 0 1em; }
	}

	.slider-item-wrap { 
		-webkit-justify-content: center;
		justify-content: center;
		top: -70px; 
	}

	.slider-nav {
		top: initial;
		bottom: 50px;
		left: 50%;
		width: 380px;
		margin-left: -190px;
	}

	.catalog-item {
		width: 100%;
		height: 100px;
		border-right: none;
		& + .catalog-item { border-top: 3px solid transparent; }
	}

	.catalog-item-logo { 
		top: 50%;
		display: inline-block; 
		max-height: 60px;
		width: auto;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		transform: translateY(-50%);
	}

	.catalog-item-bottom {
		position: static;
		margin: -12px 0 0 0;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}

	.catalog-filter-form {
		padding-top: 80px;
		-webkit-justify-content: space-between;
		justify-content: space-between;
		.search-btn {
			width: calc(100% - 30px);
			margin-top: -15px;
			margin-bottom: 50px;
		}
	}

	.catalog-filter-form .field {
		flex-basis: 48%;
		margin-bottom: 50px;
	}

	.left-aside, 
	.right-aside,
	.content-b { width: 100%; }

	.content-b { 
		margin: 0; 
		padding: initial;
	}

	.aside-spec-offer-b .carousel-nav { display: block; }

	.aside-product-list {
		.product-item {
			&:last-child {  margin-right: 0; }
			.product-img { height: 260px; }
			.product-info { height: 130px; }
		}
	}

	.product-item:hover .cart-btn { bottom: 15px; }

	.product-tab .nav-tab li { font-size: 150%; }

	.adv-head,
	.adv-footer { 
		width:  80%;
		left: 10%; 
	}
}

@media screen and (max-width: 992px) {
	.copyright {
		text-align: center;
		.pull-right { float: none !important; }
		.dev-logo { 
			display: inline-block; 
			margin-top: 10px;
		}
	}

	.copyright-text { padding-top: 10px; }

	.adv-head,
	.adv-footer { 
		width:  90%;
		left: 5%; 
	}

	.product .product-title { margin-top: 1em; }

	.product-prices {
		display: inline-block;
		margin-right: 40px;
	}

	.product-q { display: inline-block; }
}

@media screen and (max-width: 767px) {
	.f-brand { display: none; }

	.adv-head,
	.adv-footer { 
		width:  100%;
		left: 0; 
	}

	.advantage-b-wrap {
		height: 550px;
		background-size: 390px;
	}

	.adv-head .adv-item:after,
	.adv-footer .adv-item:after {
		height: 90px;
		right: -15px;
		width: 40px;
	}

	.adv-delivery,
	.adv-footer .adv-warranty { left: 5%; }
	.adv-help,
	.adv-footer .adv-payment { right: 15%; }

	.adv-footer .adv-payment:after { top: -65px; }
}

@media screen and (max-width: 680px) {
	.header-b {
		.tel {
			font-size: 87%;
			a { margin-right: 6px; }
		}
	}

	.slider-item {
		.slider-info { width: 100%; }
		.slider-title { line-height: 1.2; }
	}
	
	.f-col { flex-basis: 100%; }

	.adv-delivery,
	.adv-footer .adv-warranty { left: 0; }
	.adv-help,
	.adv-footer .adv-payment { right: 10%; }

	.product-tab .nav-tab li {
		margin-right: 25px;
		font-size: 100%;
	}
}

@media screen and (max-width: 550px) {
	.slider-item .slider-title { font-size: 200%; }

	.catalog-filter-form .field { flex-basis: 100%; }

	.advantage-b-wrap { 
		height: auto; 
		background-image: none;
	}

	.adv-head .adv-item:after, 
	.adv-footer .adv-item:after { display: none; }

	.adv-footer,
	.adv-head,
	.adv-item { 
		position: static; 
		margin: auto;
	}

	.adv-footer .adv-pickup { margin-left: inherit; }

	.adv-item { margin-bottom: 20px; }

	.adv-help, 
	.adv-footer .adv-payment { right: 0; }
} 

@media screen and (max-width: 480px) {
	.catalog-item { height: 150px; }

	.catalog-item-bottom {
		position: absolute;
		left: 0;
		bottom: 20px;
		width: 100%;
		margin: 0;
	}

	.catalog-item-logo {
		top: 20px;
		-webkit-transform: none;
		-ms-transform: none;
		-o-transform: none;
		transform: none;
	}

	.product-tab .nav-tab li {
		margin-right: 15px;
		font-size: 87%;
	}

	.modal .contact-form {
		width: 100%;
		padding: 0 20px;
	}
}